<div class="main-page">
  <a href="https:/github.com/zapboltisepic">
    <img src="github_image.png">
  </a>
  <div class="main-content">
    <div class="links-and-brief-intro">
      <h1 class="name header">YiJun Zou</h1>
      <h2 class="name">Full Stack Engineer</h2>
    </div>
    <div class = "about-me-section">
      <p>
        Hi I'm a recent UNSW Computer Science Graduate passionate about building websites that cater to people's hobbies and interests. I mainly use the 
        MEAN stack to build my projects.
      </p>
      <p>
        Currently, I am looking for software engineering jobs prefarbly full-stack ones.
      </p>
    </div>
  </div>
</div>

<router-outlet />
